<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-3 aside-left">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12 dashboard-picture">
        <%= link_to gravatar_for(@user, size: 200), @user %>
      </div>
    </div>
    <%= render 'follow_form' if user_signed_in? %>
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <ol class="microposts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
  <aside class="col-md-3 aside-right">
    <h3>Followed by</h3>
    <ol class="whotofollow">
      <%= render @followers %>
    </ol>
  </aside>
</div>